{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>profile: {{ request.user }}</title>
	<!-- Custom stylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
</head>
<body>
	<header>
		<div class="container">
			<div class="profile">
				<div class="profile-image">
					<img src="{% static "pics/photo-1513721032312-6a18a42c8763.jfif" %}" alt="">
				</div>
				<div class="profile-user-settings">
					<h1 class="profile-user-name">{{ request.user.username }}</h1>
					<button class="btn profile-edit-btn">ویرایش پروفایل</button>
					<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fa fa-cog" aria-hidden="true"></i></button>
				</div>
				<div class="profile-stats">
					<ul>
						<li><span class="profile-stat-count">164</span> ارسال</li>
						<li><span class="profile-stat-count">188</span> دنبال کننده</li>
						<li><span class="profile-stat-count">206</span> دنبال شده</li>
					</ul>
				</div>
				<div class="profile-bio">
					<p><span class="profile-real-name">وب روبیک</span> یه منبع خوب برای دریافت فایل های طراحی وب و کسب درآمد 📷✈️🏕️</p>
				</div>
			</div>
			<!-- End of profile section -->
		</div>
		<!-- End of container -->
	</header>
	<main>
		<div class="container">
			<div class="gallery">
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1511765224389-37f0e77cf0eb.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 56</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 2</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1497445462247-4330a224fdb1.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 89</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1426604966848-d7adac402bff.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-type">
						<span class="visually-hidden">Gallery</span><i class="fa fa-clone" aria-hidden="true"></i>
					</div>
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 42</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 1</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1502630859934-b3b41d18206c.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-type">
						<span class="visually-hidden">Video</span><i class="fa fa-video" aria-hidden="true"></i>
					</div>
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 38</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 0</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1498471731312-b6d2b8280c61.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-type">
						<span class="visually-hidden">Gallery</span><i class="fa fa-clone" aria-hidden="true"></i>
					</div>
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 47</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 1</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1515023115689-589c33041d3c.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 94</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 3</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1504214208698-ea1916a2195a.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-type">
						<span class="visually-hidden">Gallery</span><i class="fa fa-clone" aria-hidden="true"></i>
					</div>
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 52</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 4</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1515814472071-4d632dbc5d4a.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 66</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 2</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1511407397940-d57f68e81203.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-type">
						<span class="visually-hidden">Gallery</span><i class="fa fa-clone" aria-hidden="true"></i>
					</div>
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 45</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 0</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1518481612222-68bbe828ecd1.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 34</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 1</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1505058707965-09a4469a87e4.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 41</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 0</li>
						</ul>
					</div>
				</div>
				<div class="gallery-item" tabindex="0">
					<img src="{% static "pics/photo-1423012373122-fff0a5d28cc9.jfif" %}" class="gallery-image" alt="">
					<div class="gallery-item-type">
						<span class="visually-hidden">Video</span><i class="fa fa-video" aria-hidden="true"></i>
					</div>
					<div class="gallery-item-info">
						<ul>
							<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart" aria-hidden="true"></i> 30</li>
							<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i> 2</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End of gallery -->
			<div class="loader"></div>
		</div>
		<!-- End of container -->
	</main>
</body>
</html>