{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>profile: {{ request.user }}</title>
    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"/>
</head>
<body>
<header>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    {% if message.tags == "success" %}
                        <script src="{% static "javascript/sweatalert.min.js" %}"></script>
                        <script>
                            Swal.fire({
                                position: 'top-end',
                                icon: '{{ message.tags }}',
                                title: '{{ message }}',
                                showConfirmButton: false,
                                timer: 3000
                            })
                        </script>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="profile">
            {% if user.photo %}
                <div class="profile-image">
                    <img src="{{ user.photo.url }}" class="gallery-image">
                </div>
            {% else %}
                <div class="profile-image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtuphMb4mq-EcVWhMVT8FCkv5dqZGgvn_QiA&usqp=CAU">
                </div>
            {% endif %}
            <div class="profile-user-settings">
                <h1 class="profile-user-name">{{ user.username }}</h1>
                {% if request.user == user %}
                    <a class="btn profile-edit-btn" href="{% url "profile_edit" %}" style="text-decoration: none"
                       target="_blank">ویرایش پروفایل</a>
                    <button class="btn profile-settings-btn" aria-label="profile settings" onclick="create_post()"><i
                            class="fa fa-plus-square"
                            aria-hidden="true"></i>
                    </button>
                    {% else %}
                        <button id="follow-btn-id" data-id="{{user.id}}" data-action="{% if request.user in user.followers.all %}unfollow{% else %}follow{% endif %}" style="font-family: cursive; font-size: medium; font-weight: revert; text-decoration: none; background-color: blue; color: white; padding: 6px; border-radius: 20%">
                            {% if request.user in user.followers.all %}Unfollow{% else %}Follow{% endif %}
                        </button>
                {% endif %}
                <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fa fa-cog"
                                                                                          aria-hidden="true"></i>
                </button>
            </div>
            <div class="profile-stats">
                <ul>
                    <li><span class="profile-stat-count">{{ user.user_post.all|length }}</span> ارسال</li>
                    <li><span class="profile-stat-count" id="follwers-id">{{ user.followers.all|length }}</span> دنبال کننده</li>
                    <li><span class="profile-stat-count" id="follwing-id">{{user.following.all|length }}</span> دنبال شده</li>
                </ul>
            </div>
            <div class="profile-bio">
                <p><span
                        class="profile-real-name">{{ request.user.first_name }}-{{ request.user.last_name }}</span>️: {{ request.user.bio }}
                </p>
            </div>
        </div>
        <!-- End of profile section -->
    </div>
    <!-- End of container -->
</header>
<main>
    <div class="container">
        <div class="gallery">
            {% for post in posts %}
                <a class="gallery-item" tabindex="0" href="{{ post.get_absolute_url }}">
                    <img src="{{ post.image.url }}" class="gallery-image" alt="">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                    class="fa fa-heart"
                                    aria-hidden="true"></i>
                                {{ post.user_like.all|length }}
                            </li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fa fa-comment" aria-hidden="true"></i>
                                {{post.comments.all|length}}
                            </li>
                        </ul>
                    </div>
                </a>
            {% endfor %}
        </div>
        <!-- End of gallery -->
        {#<div class="loader"></div>#}
    </div>
    <!-- End of container -->
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
<script>
    let btn_follow = document.getElementById("follow-btn-id")
    let followers_counts = document.getElementById("follwers-id");

    btn_follow.addEventListener("click", (e)=>{
        let follow_action = btn_follow.getAttribute("data-action")
        let fd = new FormData();
        e.preventDefault();
        fd.append("id", btn_follow.getAttribute("data-id"));
        fd.append("action", btn_follow.getAttribute("data-action"));
        fd.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        axios.post("/account/follow/", fd).then((res)=>{
            console.log(follow_action);
            if(follow_action === "follow"){
                btn_follow.innerHTML = "Unfollow"
                btn_follow.setAttribute("data-action", "unfollow")
                followers_counts.innerHTML = parseInt(followers_counts.innerHTML) + 1;
            }else{
                btn_follow.innerHTML = "Follow"
                btn_follow.setAttribute("data-action", "follow")
                followers_counts.innerHTML = parseInt(followers_counts.innerHTML) -1;
            }
        }).catch((res)=>{
            console.log(res);
        })
    })
</script>
<script>
    let container = document.getElementsByClassName("container")[1];
    let gallery = document.getElementsByClassName("gallery")[0];
    let page = 1;
    let emptyPage = false;
    let blockRequest = false;

    document.addEventListener("scroll", () => {
        let contentHeight = window.innerHeight;
        let yoffset = window.pageYOffset;
        let clienHeight = document.body.clientHeight;
        let galleryItems = document.getElementsByClassName("gallery-item");

        if (contentHeight + yoffset > clienHeight + 10 && emptyPage == false && blockRequest == false) {
            blockRequest = true
            page += 1
            axios.get("", {
                params: {
                    page: page
                }
            }).then((result) => {
                if (result.data.status === "empty") {
                    emptyPage = true
                } else {
                    gallery.innerHTML += result.data.status
                    blockRequest = false
                    window.setTimeout(() => {
                        for (let i = 0; i < galleryItems.length; i++) {
                            if (galleryItems[i].classList.contains("animate__fadeInUp")) {
                                galleryItems[i].classList.remove("animate__fadeInUp")
                            }
                        }
                    }, 1000)
                }
            }).catch((error) => {
                console.log("Error")
            })
        }
    })
</script>
<script src="{% static "javascript/sweatalert.min.js" %}"></script>
<script>
    let create_post = () => {
        Swal.fire({
            title: "Create Form",
            showConfirmButton: false,
            html: `<form action={% url "post:create" %} method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
            <button type="submit">create</button></form>`,
        })
    }
</script>
</body>
</html>