<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset ConFirm</title>
</head>
<body>
    <h1>ConFirm</h1>
    <hr>
    {% if validlink %}
        <h3>Reset Your Password Here</h3>
        <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset</button>
        </form>
        {% else %}
        <h1>کد شما منقضی شده</h1>
    {% endif %} 
</body>
</html>